h1 {
    width: 100%;
    text-align: center;
}

div.back {
    position: absolute;
    right: 2vh;
    top: 1vh;
    display: inline-block;
    border: 2px solid #888;
    width: 20vh;
    height: 4vh;
    font-size: 2vh;
    text-align: center;
    line-height: 4vh;
    margin: 1vh;
}

a {
    display: block;
}

p {
    display: inline-block;
    width: 10vh;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3vh;
    font-size: 2vh;
}

body > form > input {
    display: inline-block;
    margin-bottom: 1vh;
}

table {
    border-collapse: collapse;
}

th, td {
    display: inline-block;
    width: 15vh;
}

td > input {
    width: 15vh;
    margin: 0;
    padding: 0;
    display: block;
}
