html, body {
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-thumb {
    background: #1f1f1f;
}

.top {
    position: absolute;
    display: flex;
    width: 100%;
    height: var(--top-menu-height);
    left: 0;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 1em 1em var(--bg-color);

    background: var(--surface-color);
}

.top .title {
    height: 100%;
    width: calc(100% - 20em);
    text-align: center;
}

.title h1 {
    font-size: calc(var(--top-menu-height) * 0.666);
    line-height: 1.5;
    margin-left: 8em;
}

.top .cart_field {
    height: 100%;
    width: 10em;
}

.top .exit_field {
    height: 100%;
    width: 10em;
}

.top .btn {
    width: 9em;
    height: 2em;
    margin: 1em 0.5em;
    border-radius: 0.5em;
    line-height: 2em;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    background: var(--primary-color);
}

.bot {
    position: absolute;
    width: 100%;
    height: calc(100% - var(--top-menu-height));

    top: var(--top-menu-height);

    background: var(--bg-color);
}

.left {
    height: 100%;
    width: 20%;
    float: left;
    z-index: 3;
}

.categories {
    width: 100%;
    height: calc(100% - 4em);
    margin: 2em 0;
    padding: 1em 0;
    z-index: 3;

    border-radius: 0 1em 1em 0;
    background: var(--surface-color);
}

.category {
    display: flex;
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
    padding: 0 0.5em;
    word-wrap: none;
}

.category metaD, .category metaD * {
    display: none;
}

.category > p {
    display: inline-block;
    text-align: right;
    width: calc(100% - 2em);
    user-select: none;
}

.category > svg {
    display: inline-block;
    width: 2em;
    height: 2em;
}

.category > svg * {
    fill: none;
    stroke: var(--box-color);
}

.category:hover > svg * {
    stroke: var(--box-hover);
}

.right {
    height: 100%;
    width: 80%;
    float: left;
}

.products_scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.products_domain {
    width: calc(100% - 4em);
    height: fit-content;
    margin: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.product {
    display: inline-block;

    width: 15em;
    height: 25em;
    border-radius: 1em;
    margin: 1em;

    background: var(--surface-color);
    box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.125);
}

.product > img {
    display: block;
    width: 15em;
    height: 20em;
    border-radius: 1em 1em 0 0;
    /* border-radius: 1em; */
}

.product > p {
    display: block;
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;

    text-align: center;
}

.product > btn {
    display: block;
    width: 100%;
    height: 2.5em;
    border: none;
    border-radius: 0 0 1em 1em;
    text-align: center;
    line-height: 2.5em;
    font-weight: bold;

    background: var(--primary-color);
}

.product > btn:hover {
    background: var(--primary-hover);
}
