<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>
</head>
<body>
    <div class="top-bar">
        <div class="site-name">Store</div>
        <div class="button-bar">
            <a href="/cart" class="cart-button">🛒</a>
            <a href="/logout" class="logout-button small">Log Out</a>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="main-content">
        
            <aside class="filters">
                <h2>Категории</h2>
                <ul>
                    {% for i in categories %}
                        <li><button class="Categ">{{ i }}</button></li>
                    {% endfor %}
                </ul>
            </aside>

            <section class="products">
                {% for i in products %}
                <div class="Prod">
                    <div class="ProdCard">
                        <img src="{{ i.picture }}" onerror="this.src='../static/404.png';" alt="{{ i.name }}">
                    </div>
                    <div class="ProdName">{{ i.name }}</div>
                    <div class="ProdCategory">{{ i.category }}</div>
                    <form action="/addtocard" method="post">
                        <input type="text" name="ID" value="{{i.ID}}" style="display: none;">
                        <input type="submit" value="{{i.price}} ₽" class="ProdBuy">
                    </form>                    
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
</body>
</html>
