<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/global.css">
	<link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="main-image">
        <video autoplay muted loop id="myVideo">
            <source src="../static/assets/vid.mp4" type="video/mp4">
        </video>
    </div>

	<div class="top">
		<div class="title">
			<h1>The best market</h1>
		</div>
		<div class="cart_field">
			<a href="/cart">
				<div class="btn">Cart</div>
			</a>
		</div>
		<div class="exit_field">
			<a href="/logout">
				<div class="btn">Log out</div>
			</a>
		</div>
	</div>
	<div class="bot">
		<div class="left">
			<div class="categories">
				{% for category in categories %}
					<div class="category" v="0"><p>{{ category }}</p><svg viewbox="0 0 24 24"></svg></div>
				{% endfor %}
			</div>
		</div>
		<div class="right">
			<div class="products_scroll">
				<div class="products_domain">
					{% for product in products %}
						<div class="product">
							<img src="{{ product.picture }}">
							<p>{{ product.name }}</p>
							<btn>{{ product.price }}</btn>
							<metaD class="{{ product.category }}" id="{{ product.ID }}"></metaD>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
	<script src="../static/js/home.js"></script>
</body>
</html>
