<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Log In</title>
</head>
<body>
    <div class="menu">
        <h1>Log In</h1>
        <form action="/auth" method="post">
            <input type="name" name="login"/>
            <input type="password" name="password"/>
            <input type="submit" value="login">
        </form>
        <a class="buttom" href="/signin">sigin</a>
    </div>
</body>
</html>