<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Log In</title>
</head>
<body>
    <div class="login">
        <h1 class="title">Log In</h1>
        <form action="/auth" method="post" class="login-form">
            <input type="text" name="login"/>
            <input type="password" name="password"/>
            <input type="submit" value="Log In">
        </form>
        <p class="footer-text">Нет аккаунта? <a href="/signin">Зарегистрироваться</a></p>
    </div>
</body>
</html>