<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/start.css">
    <title>Start</title>
</head>
<body>
    <div class="main-image">
        <video autoplay muted loop id="myVideo">
            <source src="../static/assets/vid.mp4" type="video/mp4">
        </video>
    </div>

    <div class="top-bar">
        <div class="site-name">Start</div>
        <div class="auth-buttons">
            <a href="/login" class="login-button small">Log In</a>
            <a href="/signin" class="login-button small">Sign In</a>
        </div>
    </div>
  
    <div class="feedback-bar">
        <p>Связь: <a href="mailto:contact@zavesa.ru">contact@zavesa.ru</a> | <a href="https://t.me/zavesa_support" target="_blank">Telegram</a></p>
    </div>
  </body>
</html>